{% extends "layout.html" %}
{% block body %}
<title>Home | LearningTechie</title>

<link rel="stylesheet" href="static/css/home.css">
<!-- home section start -->
<section class="home" id="home">
  <div class="max-width">
    <div class="home-content">
      <div class="text-1">I am</div>
      <div class="text-2">Koustav Chakraborty</div>
      <div class="text-3"><span class="typing"></span></div>
      <a href="#contact">Hire me</a>
    </div>
  </div>
</section>

<!-- about section start -->
<section class="about" id="about">
  <div class="max-width">
    <h2 class="title">About me</h2>
    <div class="about-content">
      <div class="column left">
        <img src="static/img/mine.png" alt="">
      </div>
      <div class="column right">
        <div class="text">I'm Koustav and I'm a <span class="typing-2"></span></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ut voluptatum eveniet doloremque autem
          excepturi eaque, sit laboriosam voluptatem nisi delectus. Facere explicabo hic minus accusamus alias fuga
          nihil dolorum quae. Explicabo illo unde, odio consequatur ipsam possimus veritatis, placeat, ab molestiae
          velit inventore exercitationem consequuntur blanditiis omnis beatae. Dolor iste excepturi ratione soluta quas
          culpa voluptatum repudiandae harum non.</p>
        <a href="static/docs/Koustav Chakraborty-Resume.pdf" download="Koustav-Chakraborty_Resume">Download CV</a>
      </div>
    </div>
  </div>
</section>

<!-- services section start -->
<section class="services" id="services">
  <div class="max-width">
    <h2 class="title">LearningTechie Provides</h2>
    <div class="serv-content">
      <div class="card">
        <div class="box">
          <i class="fas fa-paint-brush"></i>
          <div class="text">Web Design</div>
          <p>Web designing is my skill which made me web developer. I know frontend and the backed. My skills are HTML,CSS,JS & Python,C++</p>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <i class="fas fa-chart-line"></i>
          <div class="text">Freelancing</div>
          <p>I do freelancing not to earn money but to handle real life problems and I like projects. I want to learn more and my goal is to be a full-stack web developer</p>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <i class="fas fa-code"></i>
          <div class="text">Apps Design</div>
          <p>Beside being a web-developer, I also learned android developement. I use kotlin and java to make apps.</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<!-- skills section start -->
<section class="skills" id="skills">
  <div class="max-width">
    <h2 class="title">My skills</h2>
    <div class="skills-content">
      <div class="column left">
        <div class="text">My creative skills & experiences.</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, ratione error est recusandae
          consequatur, iusto illum deleniti quidem impedit, quos quaerat quis minima sequi. Cupiditate recusandae
          laudantium esse, harum animi aspernatur quisquam et delectus ipsum quam alias quaerat? Quasi hic quidem illum.
          Ad delectus natus aut hic explicabo minus quod.</p>
        <a href="#">Read more</a>
      </div>
      <div class="column right">
        <div class="bars">
          <div class="info">
            <span>HTML</span>
            <span>90%</span>
          </div>
          <div class="line html"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>CSS</span>
            <span>60%</span>
          </div>
          <div class="line css"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>JavaScript</span>
            <span>80%</span>
          </div>
          <div class="line js"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>PHP</span>
            <span>50%</span>
          </div>
          <div class="line php"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>MySQL</span>
            <span>70%</span>
          </div>
          <div class="line mysql"></div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- contact section start -->
<section class="contact" id="contact">
  <div class="max-width">
    <h2 class="title">Contact me</h2>
    <div class="contact-content">
      <div class="column left">
        <div class="text">Get in Touch</div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos harum corporis fuga corrupti. Doloribus
          quis soluta nesciunt veritatis vitae nobis?</p>
        <div class="icons">
          <div class="row">
            <i class="fas fa-user"></i>
            <div class="info">
              <div class="head">Name</div>
              <div class="sub-title">Koustav Chakraborty</div>
            </div>
          </div>
          <div class="row">
            <i class="fas fa-map-marker-alt"></i>
            <div class="info">
              <div class="head">Address</div>
              <div class="sub-title">Rajarhat, Kolkata</div>
            </div>
          </div>
          <div class="row">
            <i class="fas fa-envelope"></i>
            <div class="info">
              <div class="head">Email</div>
              <div class="sub-title">koustav.connect@gmail.com</div>
            </div>
          </div>
        </div>
      </div>
      <div class="column right">
        <div class="text">Message me</div>
        <form action="#">
          <div class="fields">
            <div class="field name">
              <input type="text" placeholder="Name" required>
            </div>
            <div class="field email">
              <input type="email" placeholder="Email" required>
            </div>
          </div>
          <div class="field">
            <input type="text" placeholder="Subject" required>
          </div>
          <div class="field textarea">
            <textarea cols="30" rows="10" placeholder="Message.." required></textarea>
          </div>
          <div class="button-area">
            <button type="submit">Send message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function () {
    $(window).scroll(function () {
      // sticky navbar on scroll script
      if (this.scrollY > 20) {
        $('.navbar').addClass("sticky");
      } else {
        $('.navbar').removeClass("sticky");
      }

      // scroll-up button show/hide script
      if (this.scrollY > 500) {
        $('.scroll-up-btn').addClass("show");
      } else {
        $('.scroll-up-btn').removeClass("show");
      }
    });

    // slide-up script
    $('.scroll-up-btn').click(function () {
      $('html').animate({ scrollTop: 0 });
      // removing smooth scroll on slide-up button click
      $('html').css("scrollBehavior", "auto");
    });

    $('.navbar .menu li a').click(function () {
      // applying again smooth scroll on menu items click
      $('html').css("scrollBehavior", "smooth");
    });

    // toggle menu/navbar script
    $('.menu-btn').click(function () {
      $('.navbar .menu').toggleClass("active");
      $('.menu-btn i').toggleClass("active");
    });

    // typing text animation script
    var typed = new Typed(".typing", {
      strings: ["Welcome To LearningTechie", "I am a YouTuber", "I am a Developer", "I am a Blogger", "I am a Designer", "I am a Freelancer"],
      typeSpeed: 100,
      backSpeed: 60,
      loop: true
    });

    var typed = new Typed(".typing-2", {
      strings: ["YouTuber", "Developer", "Blogger", "Designer", "Freelancer"],
      typeSpeed: 100,
      backSpeed: 60,
      loop: true
    });

    // owl carousel script
    $('.carousel').owlCarousel({
      margin: 20,
      loop: true,
      autoplay: true,
      autoplayTimeOut: 2000,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        600: {
          items: 2,
          nav: false
        },
        1000: {
          items: 3,
          nav: false
        }
      }
    });
  });
</script>

{% endblock %}