{% extends "layout.html" %} {% block body %}
<title>Resume | LearningTechie</title>
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="static/css/resume.css">
<div style="padding-top: 20px;" class="resume_wrapper">
    <div class="resume_left">
        <div class="resume_image">
            <img src="static/img/mine.png" alt="Resume_image">
        </div>
        <div class="resume_bottom">
            <div class="resume_item resume_namerole">
                <div class="name">Koustav Chakraborty</div>
                <div class="role">Aspire Web Developer</div>
            </div>
            <div class="resume_item resume_profile">
                <div class="resume_title">Profile</div>
                <div class="resume_info">I am a self-taught coding enthusiast and aspiring web developer with hands-on skills and proven experience in creating and designing websites.
                </div>
            </div>
            <!-- #-->
            <div class="resume_item resume_skills">
                <div class="resume_title">Coding Languages</div>
                <div class="resume_info">
                    <div class="skills_list">
                        <div class="skills_left">HTML</div>
                        <div class="skills_bar">
                            <p>
                                <span style="width: 100%"></span>
                            </p>
                        </div>
                    </div>
                    <div class="skills_list">
                        <div class="skills_left">CSS</div>
                        <div class="skills_bar">
                            <p>
                                <span style="width: 100%"></span>
                            </p>
                        </div>
                    </div>
                    <div class="skills_list">
                        <div class="skills_left">Javascript</div>
                        <div class="skills_bar">
                            <p>
                                <span style="width: 50%"></span>
                            </p>
                        </div>
                    </div>
                    <div class="skills_list">
                        <div class="skills_left">Wordpress</div>
                        <div class="skills_bar">
                            <p>
                                <span style="width: 95%"></span>
                            </p>
                        </div>
                    </div>
                    <div class="skills_list">
                        <div class="skills_left">vedio-editing</div>
                        <div class="skills_bar">
                            <p>
                                <span style="width: 95%"></span>
                            </p>
                        </div>
                    </div>
                    <div class="skills_list">
                        <div class="skills_left">Python</div>
                        <div class="skills_bar">
                            <p>
                                <span style="width: 85%"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="resume_title">Designing Tools</div>
            <div class="skills_list">
                <div class="skills_left">
                    <p> &#8226 Canva</p>
                </div>
                <div class="skills_bar">
                    <p>
                        <span style="width: 85%"></span>
                    </p>
                </div>
            </div>
            <div class="skills_list">
                <div class="skills_left">
                    <p> &#8226 Pixelab</p>
                </div>
                <div class="skills_bar">
                    <p>
                        <span style="width: 85%"></span>
                    </p>
                </div>
            </div>
            <div class="skills_list">
                <div class="skills_left">
                    <p> &#8226 Kinemaster</p>
                </div>
                <div class="skills_bar">
                    <p>
                        <span style="width: 85%"></span>
                    </p>
                </div>
            </div>
            <div class="resume_item resume_address">
                <div class="resume_title"><i class="fa fa-home"></i>Address</div>
                <div class="resume_info">
                    Rajarhat,<br /> Newtown,<br /> Kolkata, India
                </div>
            </div>
            <div class="resume_item resume_contact">
                <div class="resume_title">Contact</div>
                <div class="resume_info">
                    <!-- <div class="resume_subtitle"><i class="fas fa-phone-volume"></i> Phone</div> -->
                    <div class="resume_subinfo"><i class="fas fa-phone-volume"></i> +91 9933391351</div>
                </div>
                <div class="resume_info">
                    <div class="resume_subtitle"></div>
                    <div class="resume_subinfo"><i class="fas fa-envelope"></i> koustav.connect@gmail.com</div>
                </div>
            </div>
        </div>
    </div>
    <div class="resume_right">
        <div class="resume_item resume_namerole">
            <div class="name">Koustav</div>
            <div class="name"> </div>
            <div class="name">Chakraborty</div>
            <div class="role">Aspire Web Developer</div>
        </div>
        <div class="resume_item resume_education">
            <div class="resume_title">Learning</div>
            <div class="resume_info">
                <div class="resume_data">
                    <div class="year">2019-2020</div>
                    <div class="content">
                        <p>Frontend</p>
                        <p>In this 1 year,I have learned the Frontend(HTML,CSS,JS,Bootstrap).It helps me a lot</p>
                    </div>
                </div>
                <div class="resume_data">
                    <div class="year">2020 - 2021</div>
                    <div class="content">
                        <p>Backend</p>
                        <p>I am learning Python, and trying to became a python developer. In this period of time I have touched C++ and learning python in full-phase.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="resume_item resume_experience">
            <div class="resume_title">Project Summary</div>
            <div class="resume_info">
                <div class="resume_data">
                    <div class="year">Project1</div>
                    <div class="content">
                        <p><a href="https://www.itsbrightfuture.com" target="_blank_">Brightfuture</a></p>
                        <p>I made this site using wordpress and It's a nursing admission website. The colleges which are patnered have also approved this site. My client is also satisfied with this site. He can run his buisness superly</p>
                    </div>
                </div>



                <div class="resume_data">
                    <div class="year">Project2</div>
                    <div class="content">
                        <p><a href="https://www.techfret.com" target="_blank_">Techfret</a></p>
                        <p>I am developing this site using wordpress. I think that I should choose wordpress or Coding according to client's requirement</p>
                    </div>
                </div>
                <div class="resume_data">
                    <div class="year">Project3</div>
                    <div class="content">
                        <p><a href="https://iamkoustav.github.io/CalSome/" target="_blank_">Calsome</a></p>
                        <p>I made a awesome calculator using HTML,CSS,JS.I hosted this on my github profile</p>
                    </div>
                </div>
                <div class="resume_data">
                    <div class="year">Project4</div>
                    <div class="content">
                        <p><a href="https://iamkoustav.github.io/Color-Game/" target="_blank_">Color-Game</a></p>
                        <p>I made this RGB game using Javascript EventListener. It is a browser based-game. It doesn't work fine in the firefox browser.</p>
                    </div>
                </div>
                <div class="resume_data">
                    <div class="year">Project5</div>
                    <div class="content">
                        <p><a href="https://github.com/iamkoustav/Desktop-Assistant" target="_blank_">Desktop-Assistant</a></p>
                        <p>I made a desktop-assistant which helps me to work in my computer within just giving my command to my assistant and it does my work. I have added functionalities with python</p>
                    </div>
                </div>
                <div class="resume_data">
                    <div class="year">Project6</div>
                    <div class="content">
                        <p><a href="https://iamkoustav.github.io/Todo-App/" target="_blank_">Todo-App</a></p>
                        <p>I made a awesome todo-app using jquery,JS,CSS & HTML.It helps me to take notes of my work and when my work is done I just cut it off my list</p>
                    </div>
                </div>
                <div class="resume_data">
                    <div class="year">Project7</div>
                    <div class="content">
                        <p><a href="https://iamkoustav.github.io/MusicNinja/" target="_blank_">MusicNinja</a></p>
                        <p>I made a music player where I have put my favariout songs. Till now I have uploaded 11 songs. I don't even use any music app. I ust open my musicninja and play songs. I made this as a service</p>
                    </div>
                </div>
                <div class="resume_title">View All my Projects on <a href="https://github.com/iamkoustav?tab=repositories" target="_blank_">Github</a></div>
            </div>
        </div>
        <div class="resume_item resmue_interests">
            <div class="resume_title">Connect With Me</div>
            <div class="resume_info">
                <div class="interests">
                    <div class="int_icon">
                        <a href="{{params['fb_url']}}" target="_blank_"><i class="fa fa-facebook" style="color: blue;"></i></a>

                    </div>
                    <div class="int_data"></div>
                </div>
                <div class="interests">
                    <div class="int_icon">
                        <a href="{{params['gh_url']}}" target="_blank_"><i class="fa fa-github" style="color: black;"></i></a>

                    </div>
                    <div class="int_data"></div>
                </div>
                <div class="interests">
                    <div class="int_icon">
                        <a href="{{params['insta_url']}}" target="_blank_"><i class="fa fa-instagram" style="color: rgb(131, 133, 40);""></i></a>

                    </div>
                    <div class="int_data"></div>
                </div>
                <div class="interests">
                    <div class="int_icon">
                        <a href="{{params['youtube_url']}}" target="_blank_"><i class="fa fa-youtube" style="color: red;"></i></a>

                    </div>
                    <div class="int_data"></div>
                </div>
                <div class="interests">
                    <div class="int_icon">
                        <a href="{{params['tw_url']}}" target="_blank_"><i class="fa fa-twitter" style="color: rgb(74, 143, 155);"></i></a>

                    </div>
                    <div class="int_data"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}